.menu-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  height: 100%;
}

.menu-items-wrapper {
  display: flex;
  border: 1.5px solid var(--main-text-color);
  border-radius: var(--rounded);
  padding: 1rem;
  flex-direction: column;
  list-style: none;
  margin: 1rem 0;
  font-size: 1.25rem;
}
